PDF Reader.json
{
  "name": "PDF Reader",
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [176, 0],
      "name": "Get File"
    },
    {
      "parameters": {
        "updates": ["*"]
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "name": "Telegram Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Extract transaction data (UTR, amount, method, mode, account number) from bank statement text and return structured JSON. Ask user if any required field is missing."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [2336, 0],
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [2256, 304],
      "name": "Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [2080, 288],
      "name": "Chat Model"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.text }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [848, 0],
      "name": "Check Text"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2896, 0],
      "name": "Typing Indicator"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('AI Agent').item.json.output }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [3104, 0],
      "name": "Send Response"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"transactionUTR\": \"string\",\n  \"amount\": 0,\n  \"payMethod\": \"string\",\n  \"mode\": \"string\",\n  \"agentRemark\": \"string\",\n  \"accountNumber\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [2544, 304],
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-api-endpoint.com/callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.output }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2688, 0],
      "name": "Send to API"
    },
    {
      "parameters": {
        "operation": "pdf"
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [384, 0],
      "name": "Extract PDF Text"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Get File", "type": "main", "index": 0 }]]
    },
    "Get File": {
      "main": [[{ "node": "Extract PDF Text", "type": "main", "index": 0 }]]
    },
    "Extract PDF Text": {
      "main": [[{ "node": "Check Text", "type": "main", "index": 0 }]]
    },
    "Check Text": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Send to API", "type": "main", "index": 0 }]]
    },
    "Send to API": {
      "main": [[{ "node": "Typing Indicator", "type": "main", "index": 0 }]]
    },
    "Typing Indicator": {
      "main": [[{ "node": "Send Response", "type": "main", "index": 0 }]]
    },
    "Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Structured Output Parser": {
      "ai_outputParser": [[{ "node": "AI Agent", "type": "ai_outputParser", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
